@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');
body {
	background-color: #393d5e;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.container {
	padding: 10px;
}