@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');
body {
	background-color: #393d5e;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.container {
	padding: 10px;
}
.alignCenter {
	text-align: center;
}
.MuiOutlinedInput-notchedOutline {
	border-width: 1px !important;
	border-color: #FFFFFF55 !important;
	background-color: #FFFFFF11;
}
  
.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: #FFFFFFFF !important;
}
.MuiFormLabel-root {
	color: #FFFFFF55 !important;
}
.MuiFormLabel-root.Mui-focused {
	color: white!important;
}